.main {
	text-align: center;
	height: 35vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


.image {
	height: 200px;
	width: 200px;
	font-size: 25px;
	margin: 10px;
	display: inline-block;
	line-height: 100px;
	cursor: pointer;
}

.card:hover {
	height: 300px;
	width: 300px;
	background-color: #cccccc;
	z-index: 99;
}

.image-container {
	vertical-align: middle;
	display: inline-block;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	width: 60%;
}